<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
      Abiomed ACE 2.0
    </div>
  </div>
  <div class="mdl-mini-footer__right-section">
    <a class="mdl-mini-footer__social-btn social-btn__github" href="https://github.com/idelairre/ACE-demo"></a>
  </div>
</footer>
