<li class="list-item mdl-list__item mdl-list__item--two-line" data-deck="<%= entry.vaultId %>" data-deck-json="<%= JSON.stringify(entry) %>">
  <span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-icon">burst_mode</i>
    <span><%= entry.filename %></span>
    <span class="mdl-list__item-sub-title" style="color: white;"><%= entry.vaultId %></span>
  </span>
  <span class="mdl-list__item-secondary-content" style="flex-flow: row;">
    <a class="mdl-list__item-secondary-action" style="padding-right: 5px"><i class="material-icons">email</i></a>
    <a class="mdl-list__item-secondary-action"><i class="material-icons">print</i></a>
  </span>
</li>
