<div id="video" class="large-thumb" data-slide="IMP-264" style="box-shadow:5px 5px 5px #000000;">
  <video style="width: 310px; height: 198px;border: 0;">
    <source src="https://abiomedtraining.com/ACE/2.0/video/1. Impella Family Animation.mp4">
  </video>
  <p class="thumb-filename">Video Test</p>
  <p class="thumb-vault-id">IMP-264</p>
</div>
